@import '/src/styles/variables.less';

#games_container {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    gap: 20px;

    .game_card {
        position: relative;
        border: 3px solid #3E4357;
        border-radius: 10px;
        .backgroundCard_glass();

        width: 520px;
        height: 330px;

        display: flex;
        overflow: hidden;

        p {
            .format_description();
        }

        .game__img {
            min-width: 100%;
            min-height: 100%;

            transition: transform .8s;

            &:hover {
                transform: scale(1.1);
            }
        }

        .card-label__container {
            display: flex;
            flex-direction: column;
            gap: 8px;
            position: absolute;
            bottom: 30px;
            right: 0;

            .card-label__content {
                display: flex;
                align-items: center;
                justify-content: center;
                .background_glass();

                color: @text;
                font-size: 12px;
                font-weight: bold;

                height: 40px;
                padding: 0px 50px;



            }

            .card-label__genres {
                display: flex;
                justify-content: end;
                flex-wrap: wrap;
                gap: 8px;

                span {
                    text-wrap: wrap;
                    border-radius: @border_radius;
                    padding: 12px;
                    background: @primary;
                }
            }

        }

    }
}